[bumpversion]
current_version = 2.3.2
commit = True
tag = True
message = "Bump version: {current_version} → {new_version}"

[bumpversion:file:my_app/Dockerfile.app]
search = LABEL version="{current_version}"
replace = LABEL version="{new_version}"

[bumpversion:file:my_app/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:.bumpversion.cfg]
search = current_version = {current_version}
replace = current_version = {new_version}
