transformers==4.47.0
prometheus-client==0.21.0
requests==2.32.3
torch==2.5.1
flask==3.1.0
gunicorn==23.0.0
yagmail==0.15.293
slack-bolt==1.21.3
slack-sdk==3.33.5
pytest==8.3.4
pytest-cov==6.0.0
Flask-WTF==1.2.2
